/* New CSS from original app */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: white;
} */

/* Note-App Styling Below */
#register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#register-form {
  width: 50%;
}
#login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#login-form {
  width: 50%;
}
.navbar-nav {
  gap: 1rem;
}

#navbar-dropdown-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

#profile1 {
  display: none;
}

#login1 {
  display: none;
}

#logout1 {
  display: none;
}
.dark-mode {
  background-color: #282c34;
}

#column-view-toggle2 {
  display: none;
}

#grid-view-toggle2 {
  display: none;
}

#dark-mode-toggle2 {
  display: none;
}

#side-nav-hr {
  display: none;
}

.dark-mode .footer {
  color: white;
}

.dark-mode .no-note {
  color: white;
}
.notes-list-column {
  display: grid;
  grid-template-columns: 0.5fr;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
.add-note-bar-container {
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  display: flex;
}

.add-note-bar {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.4);
  width: 50%;
}
.note-app-container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  right: 3%;
}

.notes-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 0.33fr));
  grid-gap: 1rem;
}

.note {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.4);
  transition: box-shadow 0.5s ease-in-out;
}

.note-footer {
  height: 1.5rem;
  display: block;
  align-items: center;
  margin-bottom: 0.5rem;
  transition: 0.5s ease-in-out;
}

.form-check-input {
  margin-right: 0.5rem;
  background-color: transparent;
  border-color: #282c34;
}

.form-check-input:checked {
  background-color: #282c34;
  color: #282c34;
}

form .form-control:focus {
  border-color: #282c34;
  box-shadow: none;
}

.itemListBackground {
  margin-top: 0.5rem;
  border: none;
}

#editNoteTitle {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
#editNoteTodoItem {
  background-color: transparent;
}
.addTodoItem {
  background-color: transparent;
  border: none;
  color: grey;
}

::placeholder {
  color: black;
}

.dropdown-toggle::after {
  display: none;
}

.dropend .dropdown-toggle::after {
  display: none;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 200ms ease-in-out;
  border-radius: 25px;
  padding: 0.5rem;
}
.icon:hover {
  background-color: #b9bcbc80;
}

.horizontal-rule {
  margin: 0.5rem;
}

.note-label {
  font-weight: 500;
  font-size: 0.8rem;
  border: solid #282c34 1.5px;
  padding: 1px 5px;
  border-radius: 10px;
  white-space: nowrap;
}

.note-label:hover {
  background-color: #282c34;
  color: white;
}

.label-delete-icon {
  cursor: pointer;
}
.label-delete-icon:hover {
  color: red;
}

#profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  margin-top: 1rem;
}
#profile-container hr {
  display: none;
}
#profile-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 1;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  grid-column: 1;
  grid-row: 2;
}

#profile-photo {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  padding: 1.5rem;
}
#change-profile-photo {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
#profile-container img:hover {
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}
#edit-profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  grid-column: 2;
  grid-row: 2/3;
}

#edit-profile-buttons {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

#dropdown-menu {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.4);
  transition: box-shadow 0.5s ease-in-out;
}
@media screen and (max-width: 992px) {
  .navbar-toggler-icon {
    background-size: cover;
    border-radius: 50%;
  }

  .navbar-toggler {
    background-color: transparent;
    border: none;
  }
  .navbar-nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    justify-items: center;
  }

  /* #navbar-dropdown-icons a {
    margin-left: 0.5rem;
  }
  #navbar-dropdown-icons .nav-item {
    margin-left: 0.5rem; */
  /* } */

  #navbar-dropdown-icons {
    margin-left: 0px;
    display: flex;
    gap: 0.5rem;
  }

  #searchBar1 {
    grid-column: 1 / 5;
    grid-row: 1;
    width: 100% !important;
  }

  #dark-mode-toggle {
    grid-column: 1 / 1;
    display: none;
  }

  #dark-mode-toggle2 {
    display: block;
  }

  #grid-view-toggle {
    display: block;
    grid-column: 3;
    grid-row: 2;
  }

  #grid-view-toggle2 {
    display: none;
  }

  #column-view-toggle2 {
    display: none;
  }

  #column-view-toggle {
    display: block;
    grid-column: 3;
    grid-row: 2;
  }

  #side-nav-hr {
    display: block;
  }

  #basic-nav-dropdown {
    grid-column: 3 / 3;
    display: none;
  }
  #hello-user {
    display: block;
    grid-column: 1;
    grid-row: 2;
  }
  #profile1 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
  }
  #login1 {
    display: flex;
    grid-column: 1/3;
    grid-row: 2;
    gap: 0.5rem;
  }
  #logout1 {
    display: block;
    grid-column: 4;
    grid-row: 2;
  }
  .note {
    width: 100%;
  }

  .note-app-container {
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 95%;
  }

  .notes-list-column {
    grid-template-columns: 1fr;
  }

  .notes-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .add-note-bar {
    width: 95%;
  }

  .note-footer {
    align-items: center;
  }

  #profile-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #profile-container hr {
    display: block;
  }

  #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  #profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile-photo {
    padding: 1rem;
    display: flex;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    justify-content: center;
  }

  #edit-profile-form {
    width: 100%;
  }

  #upload-photo-button {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  #login-form {
    width: 100%;
  }

  #register-form {
    width: 100%;
  }
}
